<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Кафе Марта{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo-block">
                <h1 class="logo">Marta</h1>
                <p class="logo-subtitle">cafe bar • Трускавець</p>
            </div>

            <nav class="nav">
                <a href="/">Головна</a>
                <a href="/menu">Меню</a>
                <a href="/contacts">Контакти</a>
            </nav>
        </div>
    </header>

    <main class="main container">
        {% block content %}{% endblock %}
    </main>
    <button id="scrollTopBtn">↑</button>
    <script>
    const btn = document.getElementById("scrollTopBtn");

    window.onscroll = function () {
        if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
            btn.style.display = "block";
        } else {
            btn.style.display = "none";
        }
    };

    btn.onclick = function () {
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    };
</script>
</body>
</html>